@model dotnet_mvc.Models.HelpModels.ProductListModel

@{
    ViewData["Title"] = "Каталог управления товарами";
}

<h1>@ViewData["Title"]</h1>

<div class="block-container row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Категория</th>
                <th scope="col">Бренд</th>
                <th scope="col">Кол-во на складе</th>
                <th scope="col">Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.productList)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Brand.Name</td>
                    <td>@product.CountInStack</td>
                    <td><span contenteditable>@product.Cost</span> Р</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>