@model dotnet_mvc.Models.DataModels.ProductModel

@{
    ViewData["Title"] = "Product page";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<dotnet_mvc.Models.DataModels.UserModel>  SignInManager
@inject UserManager<dotnet_mvc.Models.DataModels.UserModel>  UserManager

<div class="text-center">
    <div class="block-container flex-space-between">
        <div class="flex-left">
            @{
                if (SignInManager.IsSignedIn(User) && @UserManager.GetUserAsync(User).Result.IsAdmin)
                {   
                    <a type="button" class="btn btn-outline-primary"
                        asp-action="Edit" asp-route-id="@Model.Id"
                        style="margin-right: 2.5px;">
                        <i class="bi bi-pencil-square"></i>
                        Редактировать товар
                    </a>
                    <a type="button" class="btn btn-outline-primary"
                        data-bs-toggle="modal" data-bs-target="#deleteProductModal"
                        style="margin-left: 2.5px;">
                        <i class="bi bi-folder-minus"></i>
                        Удалить товар
                    </a>
                }
            }
        </div>
        <div class="flex-right">
            <a asp-controller="Account" asp-action="Basket" 
                type="button" class="btn btn-outline-primary position-relative">
                <i class="bi bi-basket"></i>
                Корзина
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="_totalProductCount" hidden="@ViewBag.TotalProductHidden">
                    <span id="totalProductCount">@ViewBag.TotalProduct</span>
                </span>
            </a>
        </div>
    </div>

    <div class="block-container row">
        <div class="flex-left">
            <h2 class="Inter-SemiBold">@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="row flex-space-between">
            <div class="col rect-img-container flex-left" style="margin-right: 20px;">
                @if (Model.ImageUrl == null || Model.ImageUrl == "" ||
                    !System.IO.File.Exists(ViewBag.WebRootPath + "/images/" + Model.ImageUrl)) {
                    <img src='@Url.Content("~/srvimages/")default.svg' 
                        class="rect-img img-border-circle img-shadow" style="aspect-ratio: 1/1; padding: 10px;" alt="...">
                } else {
                    <img src='@Url.Content("~/images/")@Html.DisplayFor(model => model.ImageUrl)' 
                        class="rect-img img-border-circle img-shadow" style="aspect-ratio: 1/1; padding: 10px;" alt="...">
                }
            </div>
            <div class="col" style="position: relative;">
                <h1 align="right" class="Inter-Bold">
                    @Html.DisplayFor(model => model.Cost) ₽
                </h1>
                <p align="right" class="Inter-Medium">
                    Остаток на складе: @Html.DisplayFor(model => model.CountInStack) шт.
                </p>
                <hr>
                <nav style="margin-bottom: 15px;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-desc-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-desc" type="button" role="tab" aria-controls="nav-desc" aria-selected="true">@Html.DisplayNameFor(model => model.Description)</button>
                        <button class="nav-link" id="nav-char-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-char" type="button" role="tab" aria-controls="nav-char" aria-selected="false">@Html.DisplayNameFor(model => model.ProductCharacteristic)</button>
                        <button class="nav-link" id="nav-brand-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-brand" type="button" role="tab" aria-controls="nav-brand" aria-selected="false">@Html.DisplayNameFor(model => model.Brand)</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                        <h3 align="left">@Html.DisplayNameFor(model => model.Description):</h3>
                        <p align="left" style="margin-left: 10px;" class="wordBreak">
                            @Html.DisplayFor(model => model.Description)
                        </p>
                    </div>
                    <div class="tab-pane fade" id="nav-char" role="tabpanel" aria-labelledby="nav-char-tab">
                        <h3 align="left">Характеристики:</h3>
                        <ul style="text-align: left;">
                            @if (Model.ProductCharacteristic.GetDisplaysAndValues().Count == 0) {
                                <div class="alert alert-secondary" role="alert">
                                    Характеристики для данного товара отсутствуют.
                                </div>
                            } else {
                                @foreach (var item in Model.ProductCharacteristic.GetDisplaysAndValues())
                                {
                                    <li class="flex-space-between">
                                        <hr/>
                                        <div style="width: 50%;" class="flex-left">
                                            <strong>@item.Key</strong>
                                        </div>
                                        <div class="flex-left">
                                            @item.Value
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-brand" role="tabpanel" aria-labelledby="nav-brand-tab">
                        <h3 align="left">О брэнде:</h3>
                        <h5 align="left" class="Inter-Black" style="margin-left: 10px;">
                            @Html.DisplayFor(model => model.Brand.Name)
                        </h5>
                        <p align="left" style="margin-left: 10px;">
                            @Html.DisplayFor(model => model.Brand.Description)
                        </p>
                    </div>
                </div>
                <div class="flex-space-between" style="position: absolute; bottom: 5%;">
                    <div class="flex-left">
                        <button class="btn btn-outline-primary btn-lg"
                            onclick="addProductToBasket();">
                            <i class="bi bi-cart-plus"></i>
                            В корзину
                        </button>
                    </div>
                    <div class="flex-right">
                        <a asp-action="Index" asp-controller="Home" 
                            class="btn btn-secondary btn-lg" style="margin-right: 25px;">
                            Вернуться назад
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 
   
</div>

@* Удаление товара *@
<div class="modal fade" id="deleteProductModal" data-bs-backdrop="static" 
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Удаление товара</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Подтвердите удаление товара. Данное действие отменить будет невозможно. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" onclick="postDeleteRequest();">Удалить</button>
      </div>
    </div>
  </div>
</div>

@* Добавление в корзину *@
<div class="modal fade" id="addProductToBasketModal" data-bs-backdrop="static" 
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Товар добавлен в корзину</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <h2 class="Inter-ExtraBold">@Model.Name</h2>
        <p>@Model.Description</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Остаться на странице</button>
        <a asp-action="Index" asp-controller="Basket" type="button" class="btn btn-outline-primary">Перейти в корзину</a>
      </div>
    </div>
  </div>
</div>

<script>

    async function getBasketProductCount() {
        await axios.get('/Basket/GetBasketProductCount', { })
        .then(function (response) {
            if (response.data) {
                if (document.getElementById("_totalProductCount").hidden) {
                    document.getElementById("_totalProductCount").hidden = false;
                }

                document.getElementById("totalProductCount").textContent = response.data;
            } else {
                toastr.error('', 'Ошибка');
            }
        })
        .catch(function (error) {
            console.log(error);
        }); 
    }

    function postDeleteRequest() {
        axios.post('/Product/Delete', {
            id: @Model.Id
        })
        .then(function (response) {
            if (response.data == true) {
                window.location.href = '/Home/Index#successDelete';
            } else {
                window.location.href = '/Home/Index#errorDelete';
            }
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    function addProductToBasket() {
        axios.post('/Basket/AddProductToBasket', {
            product_id: @Model.Id
        })
        .then(function (response) {
            if (response.data == true) {
                toastr.success('Продукт был добавлен в корзину.', 'Успех');

                getBasketProductCount();

                var addProductToBasketModal = new bootstrap.Modal(document.getElementById('addProductToBasketModal'));
                addProductToBasketModal.show();
            } else {
                toastr.error('Продукт не был добавлен в корзину.', 'Ошибка');
            }
        })
        .catch(function (error) {
            console.log(error);
        });
    }
</script>

@section Scripts {
  <script type="text/javascript">
    checkHashAfterRedirect();
    
    function checkHashAfterRedirect() {
        var windowHash = window.location.hash;
        if (windowHash === '#edited') {
            toastr.success('Продукт был отредактирован.', 'Успех');
        } 

        removeHash();
    }

    function removeHash () { 
        history.pushState("", document.title, window.location.pathname + window.location.search);
    }
  </script>
}