@model dotnet_mvc.Models.DataModels.ProductModel

@{
    ViewData["Title"] = "Product page";
}

<div class="text-center">
    <div class="block-container flex-space-between">
        <div class="flex-left">
            <button type="button" class="btn btn-outline-primary"
                style="margin-right: 2.5px;">
                <i class="bi bi-folder-plus"></i>
                Редактировать товар
            </button>
            <button type="button" class="btn btn-outline-primary"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                style="margin-left: 2.5px;">
                <i class="bi bi-folder-plus"></i>
                Удалить товар
            </button>
        </div>
        <div class="flex-right">
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-basket"></i>
                Корзина
            </button>
        </div>
    </div>

    <div class="block-container row">
        <div class="flex-left">
            <h2 class="Inter-SemiBold">@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div class="row flex-space-between">
            <div class="col rect-img-container flex-left" style="margin-right: 20px;">
                <img src='@Url.Content("~/images/")@Html.DisplayFor(model => model.ImageUrl)'
                    class="rect-img img-border-circle img-shadow" style="padding: 10px;" alt="...">
            </div>
            <div class="col" style="position: relative;">
                <h1 align="right" class="Inter-Bold">
                    @Html.DisplayFor(model => model.Cost) ₽
                </h1>
                <p align="right" class="Inter-Medium">
                    Остаток на складе: @Html.DisplayFor(model => model.CountInStack) шт.
                </p>
                <hr>
                <nav style="margin-bottom: 15px;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-desc-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-desc" type="button" role="tab" aria-controls="nav-desc" aria-selected="true">Описание</button>
                        <button class="nav-link" id="nav-char-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-char" type="button" role="tab" aria-controls="nav-char" aria-selected="false">Характеристики</button>
                        <button class="nav-link" id="nav-brand-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-brand" type="button" role="tab" aria-controls="nav-brand" aria-selected="false">О брэнде</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                        <h3 align="left">Описание:</h3>
                        <p align="left" style="margin-left: 10px;">
                            @Html.DisplayFor(model => model.Description)
                        </p>
                    </div>
                    <div class="tab-pane fade" id="nav-char" role="tabpanel" aria-labelledby="nav-char-tab">
                        <h3 align="left">Характеристики:</h3>
                        <ul style="text-align: left;">
                            @if (Model.ProductCharacteristic.GetDisplaysAndValues().Count == 0) {
                                <div class="alert alert-secondary" role="alert">
                                    Характеристики для данного товара отсутствуют.
                                </div>
                            } else {
                                @foreach (var item in Model.ProductCharacteristic.GetDisplaysAndValues())
                                {
                                    <li class="flex-space-between">
                                        <hr/>
                                        <div style="width: 50%;" class="flex-left">
                                            <strong>@item.Key</strong>
                                        </div>
                                        <div class="flex-left">
                                            @item.Value
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-brand" role="tabpanel" aria-labelledby="nav-brand-tab">
                        <h3 align="left">О брэнде:</h3>
                        <h5 align="left" class="Inter-Black" style="margin-left: 10px;">
                            @Html.DisplayFor(model => model.Brand.Name)
                        </h5>
                        <p align="left" style="margin-left: 10px;">
                            @Html.DisplayFor(model => model.Brand.Description)
                        </p>
                    </div>
                </div>
                <div class="flex-center">
                    <a class="btn btn-primary btn-lg btn-block" style="text-align: center; width: 80%; position: absolute; bottom: 5%;">В корзину</a>
                </div>
            </div>
        </div>
        
    </div> 
   
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Удаление товара</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Подтвердите удаление товара. Данное действие отменить будет невозможно. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" onclick="postreq();">Удалить</button>
      </div>
    </div>
  </div>
</div>

<script>
    function postreq() {
        axios.post('/Product/Delete', {
            id: @Model.Id
        })
        .then(function (response) {
            if (response.data == true) {
                window.location.href = '/Home/Index#successDelete';
            } else {
                window.location.href = '/Home/Index#errorDelete';
            }
        })
        .catch(function (error) {
            console.log(error);
        });
    }
</script>