@model dotnet_mvc.Models.HelpModels.ProductListModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert alert-primary" role="alert">
        Данный сайт не осуществляет никаких продаж! Используется исключительно в учебных целях - 
        тренировка использования платформы .NET для разработки веб приложений. Любой размещенный 
        материал используется исключительно в некоммерческих целях. Исходный код размещен в репозитории
        https://github.com/timatet/dotnet-mvc
    </div>

    <div class="block-container flex-space-between">
        <div class="flex-left">
            <a asp-controller="Product" asp-action="New" class="btn btn-outline-primary">
                <i class="bi bi-folder-plus"></i>
                Добавить товар
            </a>
        </div>
        <div class="flex-right">
            <a asp-controller="Account" asp-action="Basket" class="btn btn-outline-primary">
                <i class="bi bi-basket"></i>
                Корзина
            </a>
        </div>
    </div>

    @if (Model.productList.Count() == 0)
    {
        <div class="alert alert-warning" role="alert">
            В данный момент в магазине отсутствуют товары. Приходите позже :)
        </div>
    }

    <div class="block-container row">
        @foreach (var productModel in Model.productList)
        {
            <div class="col-md-3 col-sm-4">
                <div class="card in-card">
                    @if (productModel.ImageUrl == null || productModel.ImageUrl == "" ||
                        !System.IO.File.Exists(ViewBag.WebRootPath + "/images/" + productModel.ImageUrl)) {
                        <img src='@Url.Content("~/images/")default.svg' class="card-img-top" 
                            style="aspect-ratio: 1/1;" alt="...">
                    } else {
                        <img src='@Url.Content("~/images/")@productModel.ImageUrl' class="card-img-top" 
                        style="aspect-ratio: 1/1;" alt="...">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@productModel.Name</h5>
                        <p class="card-text">
                            <span class="text-strip">
                                @productModel.Description
                            </span>
                        </p>
                        <div class="flex-space-between">
                            <a asp-action="Info" asp-controller="Product" asp-route-id="@productModel.Id"
                                role="button" class="btn btn-primary">
                                <i class="bi bi-eye"></i>
                                Открыть
                            </a>
                            <a class="btn btn-primary">
                                <i class="bi bi-cart-plus"></i>
                                В корзину
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
  <script type="text/javascript">
    checkHashAfterRedirect();
    
    function checkHashAfterRedirect() {
        var windowHash = window.location.hash;
        if (windowHash === '#successDelete') {
            toastr.success('Продукт был успешно удален.', 'Успех');
        } else if (windowHash === '#errorDelete') {
            toastr.error('При удалении произошла какая-то ошибка.', 'Ошибка');
        }

        removeHash();
    }

    function removeHash () { 
        history.pushState("", document.title, window.location.pathname + window.location.search);
    }
  </script>
}
